body {
    background-image: url("assets/images/video/stars-high-720.webm");
}

.HP {
    z-index: 1; 
    color: green; 
    margin-left: 55px; 
    margin-top: 125px; 
    font-weight: bold; 
    float: left;
    position: relative;
    text-align: center;
    font-size: 25px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

#starWars {
    margin-left: 385px;
}


#starWarsFadeIn {

}


#hanSolo {

}

#hanPar {
    position: absolute;
    margin-left: 150px;
}

#hanImg {
    margin-left: 10px;  
    padding: 20px 20px 20px 20px; 
    z-index: 0; 
    float: left; 
    position: absolute;

}

#hanHP {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 27px;
}


#yoda {

}

#yodaPar {
}

#yodaImg{
    padding: 20px 20px 20px 20px; 
    z-index: 0; 
    float: left; 
    position: absolute;
}

#yodaHP {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 27px;
}

#darthPar {
 margin-left: -200px;
}

#darthImg {
    padding: 20px 20px 20px 20px; 
    z-index: 0; 
    float: left; 
    position: absolute;
}

#darthVaderHP {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

#bobaFett {

}

#bobaPar {
    margin-left: 80px;
}

#bobaImg{
    padding: 20px 20px 20px 20px; 
    z-index: 0; 
    float: left; 
    position: absolute;
}

#bobaFettHP {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

#aButtonPar {

    clear: left;
    margin-top: 250px;
    margin-left: 570px;
}

#attackButton {
    clear: left;
}

#rButtonPar {
    clear: left;
    margin-top: 320px;
    margin-left: 145px;

}

#resetButton {
    clear: left;
    z-index: 1;
}